.navBar{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    border-radius: 5px;
    color: white;
}

.options{
    width: 400px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    opacity: 0.75;
    margin-top: 30px;
    margin-right: 5px;
}

li a{
    text-decoration: none;
    color: white;
    opacity: 0.75;
}

.active:hover{
    opacity: 1;
}

.btn{
    background-color: rgb(23,162,184);
    border-radius: 3px;
    box-shadow: 2px 2px black;
    color: white;
}